* {
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:#484848;
  font-size: 20px;
  background-color: #FFFFFF;
  width: 100%;
  overflow-x: hidden;
}
h2{
  font-size:40px;
}
.header_image{
  background-color:#FAFAFA;
}
.main_img{
  width: 100%;
  display: inline-block;
  z-index: -1;
}
.logo{
  margin-left: 20px;
  margin-top:20px;

}
.logo_br{
  width: 70px;
  height: 70px;
  z-index: 10;
}
.header{
  display: flex;
  background-color:#727BBA;
  justify-content: space-between;
  left:0;
  right:0;
  top:0;
  z-index:99;
}
ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
          z-index: 100;
			    }
ul li {
			    margin: 0px -7px 0 0;
			    display:inline-block;
          
			    }
         a {
			    display:block;
			    padding:0 10px;
			    color:#FFF;
			    font-size:20px;
			    line-height: 60px;
			    text-decoration:none;
			} 
ul ul {   
          margin-top: 20px;
          width:100vw;
          /* display: none; */
          pointer-events: none;
          opacity: 0;
			    position: absolute;
          left: calc(-50vw + 70%);
			    top: 100%;
          transition: opacity 0.7s ease;
			}
			
			/* отображаем выпадающий список при наведении */
			 ul li:hover > ul {
			    display:inherit;
          opacity: 1;
          pointer-events: auto;
			}
			
			/* первый уровень выпадающего списка */
			 ul ul li {
			    min-width:170px;
          width: 300px;
			    display:list-item;
			    position: relative;
          list-style: none;
			}
.grgree{
  height: 9px;
}
.r3434{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color:#131527;
  height: 160px;
  padding-top: 30px;
  
}
.r3434 li{
  height: 75px;
  display: flex;
}
.r3434 img{
  border: 1px solid white;
  width: 50px;
  height: 50px;
}
.accommodation_content:hover .grgr{
  opacity: 1;
}
.fixed{
  width: 100%;
  position:fixed;
  top:-20px;
}
.table_of_contents{
  margin-top: 40px;
  width: 500px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.search{
  margin-right: 50px;
  margin-top: 40px;
  color:white;
}
.header_image{
  position: relative;
}
a{
  cursor:pointer;
}
.voice{
  position:absolute;
  top:50%;
  left:20%;
  font-size: 30px;
}
.content{
  display: flex;
  justify-content: space-around;
  background-color:#FAFAFA;
  margin-bottom: 60px;
}
.content_br_header{
  margin-bottom:15px;
}
.content_top{
  font-size: 30px;
  font-weight: 50;
}
.content_both{
  margin-top: 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  overflow: hidden;
  height: 0;
  transition: height 2s ease-in-out;
}

.botton_content_both{
  font-size: 20px;
  border:2px solid #009FB9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #009FB9;
  margin-top:10px;
  margin-bottom: 100px;
}

.center{
  text-align: center;
}
.video_text{
  margin-bottom: 130px;
}
.content_br{
  width: 700px;

}
.video_text{
  display: flex;
  justify-content: space-around;
}
.video_text_text{
  margin-top: 20px;
  font-size: 23px;
  font-weight: normal;
}
.video_text_left{
  border:1px solid black;
  width: 500px;
}
.video_text_right{
  border:1px solid black;
  width: 500px;
}
span{
  display: none;
}
.to_visit{
  background-color: #FAFAFA;
}
.to_visit_header{
  text-align:center;
  margin-bottom: 30px;
}
.to_visit_cards{
  display: flex;
  justify-content: space-around;
  position: relative;
}
figcaption{
  position:absolute;
  top: 50px;
  padding:30px;
}
.to_visit_cards_1{
  cursor: pointer;
  border-radius: 20px;
}
.to_visit_cards_1:hover{
  background-color: #527c82;
  height: 375px;
}
.to_visit_cards_img:hover{
  opacity: 0.4;
}

.to_visit_cards_img{
  width: 250px;
  border-radius: 20px;
  /* width: -webkit-calc(250 + 20px); */
	/* width: calc(100% + 20px); */
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.to_visit_cards_1 p{
  padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
.hover-text-one figcaption::before,
.hover-text-one figcaption::after {
	pointer-events: none;
}
.to_visit_cards_1 figcaption{
  backface-visibility:hidden;
  pointer-events: none;
}
.to_visit_cards_1 h4::after{
  position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
.to_visit_cards_1 h4{
  position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
.to_visit_cards_1:hover h4::after{
  -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.to_visit_cards_1:hover p{
  opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.must_exp_cards{
  display: flex;
  justify-content: space-around;
}
.must_exp_cards_img{
  width: 250px;
  border-radius: 20px;
}
.must_exp_header{
  margin-left: 3%;
  margin-bottom: 25px;
  margin-top: 100px;
}
.map{
  border:2px solid black;
  width: 98%;
  height: 500px;
  margin: 10px;
}